.single{

    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: 72% 1fr;
    column-gap: 26px;
    margin: 20px 2rem;
    margin-bottom: -18px;
    @media screen and (max-width: 860px){
        grid-template-columns: auto;
        row-gap: 27px;
    }
    &__featured-image{
        height: 515px;
        @media screen and (max-width: 865px){
            height: 350px;
        }
        @media screen and (max-width: 600px){
            height: 250px;
        }
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2rem;
        // background-position-y: -80px;
    }
    &__title{
        font-size: 2.5rem;
        margin: 2rem 0;
        color: #2e3031;
    }

    &__meta{

        display: flex;
        justify-content: space-between;
        font-size: 1.39rem;
        color: #2e3031;
        border-top: 2px solid #ee2e31ad;
        border-bottom: 2px solid #ee2e31ad;
        padding: 2rem 0;
        margin-bottom: 15px;
        h4{
            display: inline;
        }

        a{
            
            color: #2e3031;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover{font-weight: bolder;}
        }

    }

    &__main{

        h1,
        h2,
        h3,
        h4,
        h5{
            color: #2e3031;
            margin: 4px 0;
        }

        h1{
            font-size: 2.6rem;
        }
        h2{
            font-size: 2.3rem;
        }
        h3{
            font-size: 2.1rem;
        }
        h4{
            font-size: 1.9rem;
        }
        h6{
            font-size: 1.5rem;
        }

        p{
            color: #2e3031;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 29px;
            margin-bottom: 27px;
            a{color: #a7191b;
                font-weight: 700;}
        }

    }

    &__category{
        display: flex;
        justify-content: end;
        margin-top: 29px;
        border-top: 2px solid;
        padding-top: 10px;

        h3{
            font-size: 1.9rem;
            margin-right: 19px;
            letter-spacing: 1px;
            color: #0e0413;
        }

        .post-categories{
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin-right: 24px;
                font-size: 1.7rem;
                text-transform: capitalize;
                font-weight: 500;
                color: #0e0413;
                a{
                    color: inherit;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    &:hover{color: #d22d21;}
                }
            }
        }
    }

    &__side{
       text-align: center;

       .side_container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(31rem,1fr));
        row-gap: 6px;
        column-gap: 20px;
       }

       .side__item{
        border-bottom: 3px solid #d63436;
        box-shadow: 0 2px 6px 1px #00000045;
        padding: 5px;
        margin-bottom: 13px;
       }

       .side__title{
        font-size: 2.1rem;
        margin-bottom: 7px;
        border-bottom: 2px solid;
        padding-bottom: 2px;
        background-color: #d63436;
        color: #fff;
        padding: 5px 0;
       }
       .side__img{
        height: 166px;
        margin: 12px;
        border: 2px solid #ee2e31cf;
        border-radius: 10px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
           }
       }


       .side__header{

        margin: 12px;
        a{
            color: #d63436;
            font-size: 1.3rem;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: #f76162;
            }
        }

       }
    }

    figure{

        text-align: center;
        img{
            max-width: 100%;
            border: 2px solid #92181a8a;
            border-radius: 3px;
        }


        iframe{
        
            text-align: center;
        }
    }

    strong{
        font-size: 1.89rem;
    }

    .twitter-tweet{
        margin: 13px auto;
        @media screen and (max-width: 600px){
            width: auto !important;
        }
    }

    .instagram-media.instagram-media-rendered{
        margin: 15px auto !important;
        min-width: 300px !important;
    }

}